# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.local
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Frontend
node_modules/


# Python
import_old_products.py
*.csv
task_remaining